
/*
-------------------------------------
COMP 1950 PROJECT

Author: Joanna Flores (#A00733856)
Last Updated: 2015-Nov-30
-------------------------------------
*/

/*
-------------------------------------
Colour Reference

BCIT Blue: #003366
50th Teal: #00b388
50th Lime: #c4d600
-------------------------------------
*/

body {
	font-family: centuryGothic;
}
/*
+++++++++++++++++++++
Header
+++++++++++++++++++++
*/

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 100;
    
    color: #fff;
    background: transparent;
}

/*styles for the timer*/
#countdown {
    width: 150px;
    border-radius: 25px;
    
    text-align: center;
    font-weight: bold;
    color: #fff;
}

.upperhalf {
    background-color: #000;
    border: 2px solid #000;
}

.lowerhalf {
    background-color: #b71c1c;
    border: 2px solid #b71c1c;
    
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
}

/*top menu icons*/
.topmenu {
    position: fixed;
    top: 1.75%;
    padding-left: 1.25%;
    z-index: 100;
}

svg.icon {
    background-color: #fff;
    border-radius:90%;
    
	width: 40px;
	height: 40px;
    margin: 1% 1px;
    
    cursor: pointer;
}

svg.icon:hover, svg.icon:hover path {
    background-color: #000;
    fill: #000;
}

svg.icon:hover path:last-child {
    fill: #fff;
}

#exercise, #lecture {
    width: 40px;
    height: 40px;
    
    border-radius: 23%;
    padding: 10px;
    box-sizing: border-box;
}

#lecture, #lecture path {
    background-color: #003366;
    fill: #fff;
}

#exercise, #exercise path {
    background-color: #00b388;
    fill: #fff;
}

#lecture:hover, #lecture:hover path {
    background-color: #000;
    fill: #fff;
}

#exercise:hover, #exercise:hover path {
    background-color: #000;
    fill: #fff;
}

/*
+++++++++++++++++++++
Side Navigation
+++++++++++++++++++++
*/

/*customizes the default style of the side navigation*/
/*#menu {
    height: 100%;
    background-color: #616161;
}

#menu, .mm-menu .mm-navbar > *, 
.mm-menu .mm-navbar a, 
.mm-menu .mm-listview > li .mm-next:after,
.mm-menu .mm-listview > li .mm-arrow:after,
.mm-menu .mm-navbar .mm-btn:before,
.mm-menu .mm-navbar .mm-btn:after,
.mm-listview > li,
.mm-listview > li:after,
.mm-listview > li .mm-next,
.mm-listview > li .mm-next:before {
    color: #fff;
    border-color: #fff;
}

.mm-listview > li:not(.mm-divider):after {
    left: 0;
    border-color:#fff;
}*/

/*the following creates the hamburger menu icon*/
#trigger {
	display: block;
    width: 30px;
	height: 25px;
	
	background-color: transparent;
    float: right;
    z-index: 100;
    margin: 1% 2%;
}

#menutrigger {
    width: 40px;
    height: 40px;
    
    border: 3px solid #000;
    border-radius: 90%;
    padding: 7px;
    box-sizing: border-box;
}

#menutrigger, #menutrigger path {
    background-color: #fff;
    fill: #000;
}

#menutrigger:hover, #menutrigger:hover path {
    background-color: #000;
    fill: #fff;
}


/*
+++++++++++++++++++++
Wrapper
+++++++++++++++++++++
*/

#outerwrapper {
    background: #fff;
    
    position:relative;
    padding: 0;
	margin: 0;
    z-index: 50;
	overflow: hidden;
}

/*for hiding and showing sections*/
.hide {
    display: none;
}

.show {
    display: block;
}

/*
+++++++++++++++++++++
Main Content
+++++++++++++++++++++
*/

main {
    padding: 0 0 5% 0;
    text-align: center;
}

.splashpage, main h1, main h2, .navbox {
    text-align: center;
}
.splashpage {
	height:100vh;
	background-image:url("/comp1950/images/comp1950_background.jpg");
    background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;	
	overflow: hidden;
	position: relative;
}
.splashpage section {
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	color: #fff;
	z-index: 50;
	text-shadow: 5px 5px 10px #000;
}
.splashpage h1 {
	text-transform: lowercase;
	font-size: 1em;
	letter-spacing: 1.1px;
    color: #fff;
}
.splashpage h2 {
	text-transform: uppercase;
	font-size: 3em;
	text-shadow: 5px 5px 15px #000;
	padding: 0;
	margin: 0;
}
.splashpage span {
	font-family: folkster;
	text-transform: lowercase;
	font-size: 1.25em;
	font-weight: normal;
}
.splashpage p {
	text-transform: lowercase;
	font-weight: bold;
	letter-spacing: 1.1px;
}
#colourOverlay {
	height: 100%;
	width: 100%;
	
	background: -webkit-linear-gradient(155deg, #003366, #00b388, #c4d600);
    background: -o-linear-gradient(155deg, #003366, #00b388, #c4d600);
    background: -moz-linear-gradient(155deg, #003366, #00b388, #c4d600);
    background: linear-gradient(155deg, #003366, #00b388, #c4d600);
    
    background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;	
	
	overflow: hidden;
	opacity: 0.5;
    
    position: absolute;
    top: 0;
    left: 0;
}

/*
+++++++++++++++++++++
Course Contents
+++++++++++++++++++++
*/

#coursecontents {
	padding-top: 5%;
}
#coursecontents h2 {
	color: #003366;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2.5em;
}	

#coursecontents p {
	padding: 0 15%;
}

.scroller {
    padding: 0 5% 3%;
}

/*navigation boxes found in the main page and resources*/
.button-group {
    display: block;
    padding: 2% 0;
    
    width: 60%;
    margin: 0 auto;
	color: #fff;
	font-weight: bold;
}

.button-group button {
    display: inline-block;
    margin: 0 1%;
    width: 16%;
    background-color: #00b388;
    padding: .5% 0;
	border:none;
	border-radius: 25px;
    border: none;
    outline:none;
}
.button-group .button.is-checked {
	background-color: #003366;
}

.grid {
    width: 85%;
    margin: 0 auto;
    text-align: center;
}

.element-item {
    float: left;
    display: block;
    width: 200px;
    
    margin: 5px;
    padding: 6% 0;
}

/*grid links*/
.element-item a:link, 
.element-item a:visited {
    color: #fff;
	text-decoration: none;
}

.lectures, 
.validators,
.element-item.lectures a:link,
.element-item.validators a:link {
	background-color: #003366;
}

.exercises,
.browsers,
.element-item.exercises a:link, 
.element-item.browsers a:link {
	background-color: #00b388;
}

.homeworks,
.project, 
.tools,
.element-item.project a:link,
.element-item.homeworks a:link, 
.element-item.tools a:link {
	background-color: #c4d600;
}

.element-item.browsers a:link, 
.element-item.validators a:link, 
.element-item.tools a:link {
    min-height: 100px;
}

.element-item.browsers img, 
.element-item.tools img {
    height: 50px;
}

.textbooks,
.element-item.textbooks a:link {
    background-color: #616161;
    min-height: 365px;
}

.resourcecategory {
    width: 80%;
    margin: 0 auto;
}

/*
+++++++++++++++++++++
Week 06 Lecture
+++++++++++++++++++++
*/

.splashpage2 {
	/*height:100vh;*/
	background-image:url("/comp1950/images/comp1950_background2.jpg");
    background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;	
	overflow: hidden;
	position: relative;
}

/*lecture agenda*/
.lectureagenda {
    /*position: absolute;
	top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    */
    padding-top: 30%;
    
	color: #fff;
	z-index: 50;
	
}

.lectureagenda h2{
	font-family: folkster;
	text-transform: lowercase;
	font-size: 2em;
	font-weight: normal;
	padding-top: 10px;
}
.lectureagenda ul {
	list-style: none;
	padding-left: 0;
}
.lectureagenda li {
	font-weight: bold;
	font-size: 0.9em;
}
.lectureagenda a {
	text-decoration: none;
	color: #fff;
}
.lectureagenda a:hover {
	color: #003366;
}

/*lecture section*/
.lecturesection {
	padding: 1.5% 15%;
}
.lecturesection h2 {
	color: #003366;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2.5em;
    margin: 0;
    padding: 0;
}	
.lecturesection a {
	text-decoration: none;
	color: #00b388;
	font-weight: bold;
}
.lecturesection a:hover {
	color: #003366;
}

.lecturesection p {
	text-align: left;
}
.lecturesection h3 {
	text-align: left;
	color: #003366;
    margin: 0;
    padding: 0;
}
.lecturesection ul, .lecturesection li {
	list-style: circle;
	text-align: left;
}
.lecturesection strong {
	color: #003366;
}
.lecturesection pre {
	text-align: left;
}

/*lecture summary*/
.lecturesummary {
	padding: 10% 15%;
}
.lecturesummary h2 {
	color: #003366;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2.5em;
    margin: 0;
    padding: 0;
}	
.lecturesummary p {
	text-align: left;
}
.lecturesummary ul, .lecturesummary li {
	list-style: circle;
	text-align: left;
}
.lecturesummary a {
	text-decoration: none;
	color: #00b388;
	font-weight: bold;
}
.lecturesummary a:hover {
	color: #003366;
}

/*
+++++++++++++++++++++
Week 06 Exercise
+++++++++++++++++++++
*/

/*exercise section*/
.exercisessubpage {
	padding: 5% 15%;
}
.exercisessubpage h2 {
	color: #003366;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2.5em;
}	
.exercisessubpage a {
	text-decoration: none;
	color: #00b388;
	font-weight: bold;
}
.exercisessubpage a:hover {
	color: #003366;
}

.exercisessubpage p {
	text-align: left;
}
.exercisessubpage h3 {
	text-align: left;
	color: #003366;
}
.exercisessubpage ul, .exercisessubpage li {
	list-style: circle;
	text-align: left;
}
.exercisessubpage strong {
	color: #003366;
}

/*week06 exercise 2*/
#transition_image {
    position: relative;
    margin-right: 30px;
    float: left;
}

#transition_image img {
    display: block;
    width: 100px;
    height: 100px;
}

#image_top {
    position: absolute;
    top: 0px;
    left: 0px;
}

#transition_image + section {
    clear: both;
}

/*
+++++++++++++++++++++
Quiz
+++++++++++++++++++++
*/
.quizpage {
    padding: 5% 15%;
}

.quizpage > p {
    text-align: center;
}

.quizpage fieldset {
    text-align: justify;
}

.studentinfo, .quizsection {
    box-sizing: border-box;
    width: 80%;
    margin: 0 auto;
    padding: 2%;
}

.studentinfo {
    border: 3px solid #000;
    width: 70%;
    border-radius: 25px;
}

.quizpage textarea, .quizpage input[type="text"] {
    display: block;
    width: 100%;
}

textarea {
    resize: none;
    padding: 0;
}

fieldset {
    border: none;
}

#submitquiz {
    display: block;
    width: 150px;
    margin: 1% auto;
}

#countdown {
    position: fixed;
    top: 20px;
    left: 70px;
}