
/*
-------------------------------------
COMP 1950 PROJECT

Last Updated: 2015-Dec-06

Authors: 
Joanna Flores (#A00733856) - added the initial positioning of the elements
Herman Ho - added the styling
-------------------------------------
*/

/*
-------------------------------------
Colour Reference

BCIT Blue: #003366
50th Teal: #00b388
50th Lime: #c4d600
-------------------------------------
*/

body {
	font-family: centuryGothic;
    font-size:16px;
}
/*
+++++++++++++++++++++
Header
+++++++++++++++++++++
*/

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 100;
    
    color: #fff;
    background: transparent;
}

/*styles for the timer*/
#countdown {
    width: 150px;
    
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    
    text-align: center;
    font-weight: bold;
    color: #fff;
}

.upperhalf {
    background-color: #616161;
    border: 2px solid #616161;
}

.lowerhalf {
    background-color: #b71c1c;
    border: 2px solid #b71c1c;
    
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
}

/*top menu icons*/
.topmenu {
    position: fixed;
    top: 1.75%;
    padding-left: 1.25%;
    z-index: 100;
}

svg.icon {
    background-color: #fff;
    
    -webkit-border-radius: 90%;
    -moz-border-radius: 90%;
    border-radius:90%;
    
	width: 40px;
	height: 40px;
    margin: 1% 1px;
    
    cursor: pointer;
}

svg.icon path:first-child {
    fill: #fff;
}

svg.icon:hover, svg.icon:hover path {
    background-color: #00b388;
    fill: #00b388;
}

svg.icon:hover path:last-child {
    fill: #fff;
}

#exercise, 
#lecture,
#switchstyle {
    width: 40px;
    height: 40px;
    
    -webkit-border-radius: 23%;
    -moz-border-radius: 23%;
    border-radius: 23%;
    
    padding: 10px;
    box-sizing: border-box;
}

#lecture, #lecture path {
    background-color: #003366;
    fill: #fff;
}

#exercise, #exercise path {
    background-color: #00b388;
    fill: #fff;
}

#lecture:hover, #lecture:hover path,
#exercise:hover, #exercise:hover path {
    background-color: #616161;
    fill: #fff;
}

#switchstyle {
    -webkit-border-radius: 90%;
    -moz-border-radius: 90%;
    border-radius: 90%;
    
    border: 3px solid #fff;
    padding: 7px;
}

#switchstyle, #switchstyle path {
    background-color: #fff;
    fill: #000;
}

#switchstyle rect {
    fill: #fff;
}

#switchstyle:hover, #switchstyle:hover path {
    background-color: #00b388;
    fill: #fff;
}

#switchstyle:hover {
    border: 3px solid #00b388;
}

#switchstyle:hover rect {
    fill: #00b388;
}

/*
+++++++++++++++++++++
Side Navigation
+++++++++++++++++++++
*/

/*customizes the default style of the side navigation*/
#menu {
    height: 100%;
    background-color: #CFD8DC;
    color: #000;
}

#menu, .mm-menu .mm-navbar > *, 
.mm-menu .mm-navbar a, 
.mm-menu .mm-listview > li .mm-next:after,
.mm-menu .mm-listview > li .mm-arrow:after,
.mm-menu .mm-navbar .mm-btn:before,
.mm-menu .mm-navbar .mm-btn:after,
.mm-listview > li,
.mm-listview > li:after,
.mm-listview > li .mm-next,
.mm-listview > li .mm-next:before {
    color: #000;
    border-color: #9E9E9E;
}

.mm-listview > li:not(.mm-divider):after {
    left: 0;
    border-color: #9E9E9E;
}

#menu li a:hover {
    background-color: #78909C;
    color: #fff;
}

.mm-menu .mm-navbar a.mm-title {
    color: #616161;
}


/*the following creates the hamburger menu icon*/
#trigger {
	display: block;
    width: 90px;
	height: 25px;
	
	background-color: transparent;
    float: right;
    z-index: 100;
    margin: 1% 2%;
}

#trigger a {
    display: inline-block;
}

#menutrigger {
    width: 40px;
    height: 40px;
    
    border: 3px solid #fff;
    
    -webkit-border-radius: 90%;
    -moz-border-radius: 90%;
    border-radius: 90%;
    
    padding: 7px;
    box-sizing: border-box;
}

#menutrigger, #menutrigger path {
    background-color: #fff;
    fill: #000;
}

#menutrigger:hover, #menutrigger:hover path {
    background-color: #00b388;
    fill: #fff;
}

#menutrigger:hover {
    border: 3px solid #00b388;
}


/*
+++++++++++++++++++++
Wrapper
+++++++++++++++++++++
*/

#outerwrapper {
    background: #000;
    
    position:relative;
    padding: 0;
	margin: 0;
    z-index: 50;
	overflow: hidden;
    
    color: #fff;
}

/*
+++++++++++++++++++++
Main Content
+++++++++++++++++++++
*/

main {
    padding: 0 0 5% 0;
    text-align: center;
}

.scroller {
    padding: 0 5% 3%;
}

.splashpage, main h1, main h2, .navbox {
    text-align: center;
}
.splashpage {
	height:100vh;
	background-image:url("/comp1950/images/comp1950_background.jpg");
    background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;	
	overflow: hidden;
	position: relative;
    
    padding: 0;
    margin: 0;
}
.splashpage section {
	position: relative;
    z-index: 50;
	color: #fff;
	text-shadow: 5px 5px 10px #000;
}
.splashpage h1 {
	text-transform: lowercase;
	font-size: 1em;
	letter-spacing: 1.1px;
    color: #fff;
    text-shadow: 5px 5px 10px #000;
}
.splashpage h2 {
	text-transform: uppercase;
	font-size: 3em;
	text-shadow: 5px 5px 15px #000;
	padding: 0;
	margin: 0;
}
.splashpage span {
	font-family: folkster;
	text-transform: lowercase;
	font-size: 1.25em;
	font-weight: normal;
}
.splashpage p {
	text-transform: lowercase;
	font-weight: bold;
	letter-spacing: 1.1px;
}
.splashpage em {
    text-decoration: underline;
}
#colourOverlay {
	height: 100%;
	width: 100%;
    padding-top: 15%;
	
	background: -webkit-linear-gradient(155deg, #003366, #00b388, #c4d600);
    background: -o-linear-gradient(155deg, #003366, #00b388, #c4d600);
    background: -moz-linear-gradient(155deg, #003366, #00b388, #c4d600);
    background: linear-gradient(155deg, #003366, #00b388, #c4d600);
    
    background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;	
	
	overflow: hidden;
	opacity: 0.7;
}


/*
+++++++++++++++++++++
Course Contents
+++++++++++++++++++++
*/

#coursecontents {
	padding-top: 5%;
}
#coursecontents h2 {
	color: #00b388;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2.5em;
}	

#coursecontents p, 
#coursecontents ul {
	padding: 0 15%;
    text-align: justify;
}

#coursecontents ul li {
	margin: 0 5%;
    text-align: justify;
}

/*navigation boxes found in the main page and resources*/
.button-group {
    display: block;
    padding: 2% 0;
    
    width: 60%;
    margin: 0 auto;
	color: #fff;
	font-weight: bold;
}

.button-group button {
    display: inline-block;
    margin: 0 1%;
    width: 16%;
    background-color: #00b388;
    padding: .5% 0;
	border:none;
    
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
	border-radius: 25px;
    
    border: none;
    outline:none;
}

.button-group .button.is-checked {
	background-color: #003366;
}

.button-group button:hover {
    background-color: #616161;
    color: #fff;
}

/*grid links*/
.grid {
    width: 85%;
    margin: 0 auto;
    text-align: center;
}

.element-item {
    float: left;
    display: block;
    width: 200px;
    min-height: 200px;
    margin: 5px;
}

.element-item a:link, 
.element-item a:visited {
    color: #fff;
	text-decoration: none;
    
    display: block;
    padding-top: 30%;
}

.lectures, 
.validators,
.element-item.lectures a:link,
.element-item.validators a:link {
	background-color: #003366;
}

.exercises,
.browsers,
.element-item.exercises a:link, 
.element-item.browsers a:link {
	background-color: #00b388;
}

.homeworks,
.project, 
.tools,
.element-item.project a:link,
.element-item.homeworks a:link, 
.element-item.tools a:link {
	background-color: #c4d600;
}

.textbooks,
.element-item.textbooks a:link {
    background-color: #616161;
    min-height: 400px;
}

.element-item.validators a,
.element-item.browsers a,
.element-item.tools a,
.element-item.textbooks a {
    padding-top: 0;
}

.validators a img,
.browsers a img,
.tools a img,
.textbooks a img {
    padding: 50px 0px 0px;
}

.element-item.browsers img, 
.element-item.tools img {
    height: 50px;
}

.resourcecategory {
    width: 80%;
    margin: 0 auto;
}

/*
+++++++++++++++++++++
Week 06 Lecture
+++++++++++++++++++++
*/

.splashpage2 {
	height:100vh;
	background-image:url("/comp1950/images/comp1950_background2.jpg");
    background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;	
	overflow: hidden;
	position: relative;
}

/*lecture agenda*/
.agenda {
    position: relative;
    z-index:50;
	color: #fff;
}

.agenda h2{
	font-family: folkster;
	text-transform: lowercase;
	font-size: 2em;
	font-weight: normal;
	padding-top: 10px;
}
.agenda ul {
	list-style: none;
	padding-left: 0;
}
.agenda li {
	font-weight: bold;
	font-size: 0.9em;
}
.agenda a {
	text-decoration: none;
	color: #fff;
}
.agenda a:hover {
	color: #003366;
}

/*lecture section*/
.lecturesection {
	padding: 1.5% 15%;
}
.lecturesection h2 {
	color: #00b388;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2.5em;
    margin: 1.5% 0;
    padding: 0;
}	
.lecturesection a {
	text-decoration: none;
	color: #c4d600;
	font-weight: bold;
}
.lecturesection a:hover {
	color: #00b388;
}

.lecturesection p {
	text-align: left;
    margin: 0.5% 0;
}
.lecturesection h3 {
	text-align: left;
	color: #00b388;
    margin: 1% 0;
    padding: 0;
}
.lecturesection ul, .lecturesection li {
	list-style: circle;
	text-align: left;
}
.lecturesection strong {
	color: #00b388;
}
.lecturesection pre {
	text-align: left;
}

/*lecture summary*/
.lecturesummary {
	padding: 10% 15%;
}
.lecturesummary h2 {
	color: #00b388;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2.5em;
    margin: 0;
    padding: 0;
}	
.lecturesummary p {
	text-align: left;
}
.lecturesummary ul, .lecturesummary li {
	list-style: circle;
	text-align: left;
}
.lecturesummary a {
	text-decoration: none;
	color: #c4d600;
	font-weight: bold;
}
.lecturesummary a:hover {
	color: #00b388;
}
.lecturesummary div {
    border: 2px solid #C0C0C0;
    
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    
    padding: 5%;
}

/*
+++++++++++++++++++++
Week 06 Exercise
+++++++++++++++++++++
*/

/*exercise section*/
.exercisessubpage {
	padding: 1% 15%;
}
.exercisessubpage h2 {
	color: #00b388;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2.5em;
}	
.exercisessubpage a {
	text-decoration: none;
	color: #c4d600;
	font-weight: bold;
}
.exercisessubpage a:hover {
	color: #003366;
}

.exercisessubpage p {
	text-align: left;
}
.exercisessubpage h3 {
	text-align: left;
	color: #00b388;
}
.exercisessubpage ul, .exercisessubpage li {
	list-style: circle;
	text-align: left;
}
.exercisessubpage strong {
	color: #00b388;
}

/*week06 exercise 2*/
#transition_image {
    position: relative;
    margin-right: 30px;
    float: left;
}

#transition_image img {
    display: block;
    width: 100px;
    height: 100px;
}

#image_top {
    position: absolute;
    top: 0px;
    left: 0px;
}

#transition_image + section {
    clear: both;
}

/*
+++++++++++++++++++++
Quiz
+++++++++++++++++++++
*/
.quizpage {
    padding: 0;
}

.quizpage #colourOverlay {
    padding-top: 5%;
}

.quizpage > p {
    text-align: center;
}

#quizform {
    padding: 5% 15% 2%;
}

#quizform h2 {
	color: #00b388;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2.5em;
    margin: 0;
    padding: 0;
}	

.quizpage fieldset {
    text-align: justify;
    border: none;
}

.studentinfo, .quizsection {
    box-sizing: border-box;
    width: 80%;
    margin: 0 auto;
    padding: 2%;
}

.studentinfo {
    border: 3px solid #000;
    width: 70%;
    
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    
    margin-bottom: 1%;
}

textarea {
    resize: none;
}

code {
    font-weight: bold;
}

.quizpage textarea, .quizpage input[type="text"] {
    display: block;
    width: 95%;
    outline:none;
    border: solid 2px #616161;
    background-color: #ECEFF1;
    padding: 3px 5px;
    margin: 0 auto;
    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    
    color: #000;
}

.quizpage input[type="text"]:focus,
.quizpage input[type="text"].focus,
.quizpage textArea:focus,
.quizpage textArea.focus {
    border: solid 2px #2c3e50;
    background-color: #B0BEC5;
    
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

#submitquiz, #startquiz {
    display: block;
    width: 150px;
    margin: 0 auto 2%;
    background-color: #003366;
    padding: .5% 0;
    
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
	border-radius: 25px;
    
    border: none;
    outline:none;
    
    color: #fff;
}

#submitquiz {
    background-color: #00b388;
}

#submitquiz:hover, #startquiz:hover {
    background:#616161;
}

#submitquiz span, #startquiz span {
    font-family: centuryGothic;
    font-size: 1em;
}

#countdown {
    position: fixed;
    top: 20px;
    left: 70px;
}

/*for hiding and showing sections*/
.hide {
    display: none;
}

.show {
    display: block;
}