
/*
-------------------------------------
COMP 1950 PROJECT

Author: Joanna Flores (#A00733856)
Last Updated: 2015-Dec-05
Modified: Herman Ho (#A00954161)
-------------------------------------
*/

/*
-------------------------------------
Colour Reference

BCIT Blue: #003366
50th Teal: #00b388
50th Lime: #c4d600
-------------------------------------
*/

body {
	font-family: centuryGothic;
}
/*
+++++++++++++++++++++
Header
+++++++++++++++++++++
*/

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 100;
    
    color: #fff;
}

#topnav {
    line-height: 50px;
    height: 50px;
    
    padding: 5px 2%;
	display: none;
}

/*top navigation*/
#topnav ul {
    display: block;
    padding: 0;
    margin: 0;
}

#topnav ul {
    float: right;
    width: 25%;
}

#topnav ul li {
    float: right;
    text-align: right;
    
    display: inline-block;
    line-height: 50px;
    padding: 0 2%;
    margin: 0;
    list-style: none;
}

/*
+++++++++++++++++++++
Side Navigation
+++++++++++++++++++++
*/

.mm-menu.mm-offcanvas {
    top: 60px;
}

/*the following creates the hamburger menu icon*/
#trigger {
	display: block;
    width: 25px;
	height: 50px;
	
	background-color: transparent;
    float: left;
    padding: 25px 15px;
    z-index: 100;
}

#trigger span, 
#trigger span:before,
#trigger span:after {
	cursor: pointer;
	height: 5px;
	width: 30px;
    
    -moz-border-radius: 1px;
    -webkit-border: 1px;
    border-radius: 1px;
    
	background: #fff;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:    0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    box-shadow:         0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    
	position: absolute;
	display: block;
	content: '';
}

#trigger span:before {
	top: -10px;
}

#trigger span:after {
	bottom: -10px; 
}

/*
+++++++++++++++++++++
Wrapper
+++++++++++++++++++++
*/

#outerwrapper {
    background: #fff;
    
    position:relative;
    padding: 0;
	margin: 0;
    z-index: 50;
	overflow: hidden;
}

/*
+++++++++++++++++++++
Main Content
+++++++++++++++++++++
*/

main {
    padding: 0 0 5% 0;
    text-align: center;
}
.splashpage, main h1, main h2, .navbox {
    text-align: center;
}
.splashpage {
	height:100vh;
	background-image:url("/comp1950/images/comp1950_background.jpg");
    background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;	
	overflow: hidden;
	position: relative;
}
.splashpage section, .splashpage2 section {
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	color: #fff;
	z-index: 50;
	text-shadow: 5px 5px 10px #000;
}
.splashpage h1, .splashpage2 h1 {
	text-transform: lowercase;
	font-size: 1em;
	letter-spacing: 1.1px;
}
.splashpage h2, .splashpage2 h2 {
	text-transform: uppercase;
	font-size: 3em;
	text-shadow: 5px 5px 15px #000;
	padding: 0;
	margin: 0;
}
.splashpage span, .splashpage2 span {
	font-family: folkster;
	text-transform: lowercase;
	font-size: 1.25em;
	font-weight: normal;
}
.splashpage p, .splashpage2 p {
	text-transform: lowercase;
	font-weight: bold;
	letter-spacing: 1.1px;
}
#colourOverlay {
	height: 100vh;
	width: 100vw;
	
	background: -webkit-linear-gradient(155deg, #003366, #00b388, #c4d600);
    background: -o-linear-gradient(155deg, #003366, #00b388, #c4d600);
    background: -moz-linear-gradient(155deg, #003366, #00b388, #c4d600);
    background: linear-gradient(155deg, #003366, #00b388, #c4d600);
	
	overflow: hidden;
	opacity: 0.5;
	position: relative;
}

/*
+++++++++++++++++++++
Course Contents
+++++++++++++++++++++
*/

#coursecontents {
	padding-top: 5%;
}
#coursecontents h2 {
	color: #003366;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2.5em;
}	

#coursecontents p {
	padding: 0 15%;
}

/*navigation boxes found in the main page and resources*/
.button-group {
    display: block;
    padding: 2% 0;
    
    width: 60%;
    margin: 0 auto;
	color: #fff;
	font-weight: bold;
}

.button-group button {
    display: inline-block;
    margin: 0 1%;
    width: 16%;
	background-color: #00b388;
	padding: .5% 0;
	border:none;
	border-radius: 25px;
}
.button-group .button.is-checked {
	background-color: #003366;
}


.grid {
    width: 85%;
    margin: 0 auto;
    text-align: center;
}

.element-item {
    float: left;
    display: block;
    width: 200px;
    
    margin: 5px;
    padding: 6% 0;
	
}
.element-item:hover {
	opacity: 0.8;
}
.lectures {
	background-color: #003366;
}
.exercises {
	background-color: #00b388;
}
.homeworks {
	background-color: #c4d600;
}
.project {
	background-color: #c4d600;
}
.element-item a{
	color: #fff;
	text-decoration: none;
}

.texts {
	background-color: #003366;
    background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;
}
.book1:hover {
	text-shadow: 2px 2px 4px #000;
	background-image:url("/comp1950/images/texts1.jpg");
}
.book2:hover {
	text-shadow: 2px 2px 4px #000;
	background-image:url("/comp1950/images/texts2.jpg");
}
.book3:hover {
	text-shadow: 2px 2px 4px #000;
	background-image:url("/comp1950/images/texts3.jpg");
}
.browsers {
	background-color: #00b388;
    background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;
}
.browser1:hover {
	text-shadow: 2px 2px 4px #000;
	background-image:url("/comp1950/images/browser1.jpg");
}
.browser2:hover {
	text-shadow: 2px 2px 4px #000;
	background-image:url("/comp1950/images/browser2.jpg");
}
.browser3:hover {
	text-shadow: 2px 2px 4px #000;
	background-image:url("/comp1950/images/browser3.jpg");
}
.browser4:hover {
	text-shadow: 2px 2px 4px #000;
	background-image:url("/comp1950/images/tools2.jpg");
}
.ftps {
	background-color: #c4d600;
    background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;
}
.link1:hover {
	text-shadow: 2px 2px 4px #000;
	background-image:url("/comp1950/images/ftp1.jpg");
}
.link2:hover {
	text-shadow: 2px 2px 4px #000;
	background-image:url("/comp1950/images/ftp2.jpg");
}
.tools {
	background-color: #414141;
    background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;
}
.tool1:hover {
	text-shadow: 2px 2px 4px #000;
	background-image:url("/comp1950/images/tools1.jpg");
}
.tool2:hover {
	text-shadow: 2px 2px 4px #000;
	background-image:url("/comp1950/images/tools2.jpg");
}
.tool3:hover {
	text-shadow: 2px 2px 4px #000;
	background-image:url("/comp1950/images/tools3.jpg");
}




/*
+++++++++++++++++++++
Week 06 Lecture
+++++++++++++++++++++
*/

.splashpage2 {
	height:100vh;
	background-image:url("/comp1950/images/comp1950_background2.jpg");
    background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;	
	overflow: hidden;
	position: relative;
}

/*lecture agenda*/
.lectureagenda{
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	color: #fff;
	z-index: 50;
	padding-top: 30%;
}
.lectureagenda h2{
	font-family: folkster;
	text-transform: lowercase;
	font-size: 2em;
	font-weight: normal;
	padding-top: 10px;
}
.lectureagenda ul {
	list-style: none;
	padding-left: 0;
}
.lectureagenda li {
	font-weight: bold;
	font-size: 0.9em;
}
.lectureagenda a {
	text-decoration: none;
	color: #fff;
}
.lectureagenda a:hover {
	color: #003366;
}


/*lecture section*/
.lecturesection {
	padding: 5% 15%;
}
.lecturesection h2 {
	color: #003366;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2.5em;
}	
.lecturesection a {
	text-decoration: none;
	color: #00b388;
	font-weight: bold;
}
.lecturesection a:hover {
	color: #003366;
}

.lecturesection p {
	text-align: left;
}
.lecturesection h3 {
	text-align: left;
	color: #003366;
}
.lecturesection ul, .lecturesection li {
	list-style: circle;
	text-align: left;
}
.lecturesection strong {
	color: #003366
}
.lecturesection pre {
	text-align: left;
}

/*lecture summary*/
.lecturesummary {
	padding: 5% 15%;
}
.lecturesummary h2 {
	color: #003366;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2.5em;
}	
.lecturesummary p {
	text-align: left;
}
.lecturesummary ul, .lecturesummary li {
	list-style: circle;
	text-align: left;
}
.lecturesummary a {
	text-decoration: none;
	color: #00b388;
	font-weight: bold;
}
.lecturesummary a:hover {
	color: #003366;
}

/*
+++++++++++++++++++++
Week 06 Exercise
+++++++++++++++++++++
*/

/*exercise section*/
.exercisessubpage {
	padding: 5% 15%;
}
.exercisessubpage h2 {
	color: #003366;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2.5em;
}	
.exercisessubpage a {
	text-decoration: none;
	color: #00b388;
	font-weight: bold;
}
.exercisessubpage a:hover {
	color: #003366;
}

.exercisessubpage p {
	text-align: left;
}
.exercisessubpage h3 {
	text-align: left;
	color: #003366;
}
.exercisessubpage ul, .exercisessubpage li {
	list-style: circle;
	text-align: left;
}
.exercisessubpage strong {
	color: #003366
}


/*for quizzes*/
.quiz > p {
    text-align: center;
}
.studentinfo, .quizsection {
    box-sizing: border-box;
    width: 80%;
    margin: 0 auto;
    padding: 2%;
}

.hidequiz {
    display: none;
}

.showquiz {
    display: block;
}

.studentinfo {
    border: 3px solid #000;
    width: 70%;
    border-radius: 25px;
}

.quiz textarea, .quiz input[type="text"] {
    display: block;
    width: 100%;
}

textarea {
    resize: none;
    padding: 0;
}

fieldset {
    border: none;
}

#submitquiz {
    display: block;
    width: 150px;
    margin: 1% auto;
}

#countdown {
    position: fixed;
    top: 20px;
    left: 70px;
}